.heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.heading img {
  margin-right: 20px;
}

.inputWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  background-color: #262626;
  padding: 10px 20px;
  width: fit-content;
  margin: 30px auto;
  border-radius: 10px;
}

.inputWrapper img {
  margin-right: 20px;
}
.inputWrapper input {
  font-size: 20px;
  border: none;
  padding: 2px;
  background-color: #262626;
  outline: none;
  color: white;
}
::placeholder {
  color: #454545;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 20px auto;
}

.contentWrapper {
  color: #c4c5c5;
  font-size: 12px;
  width: 70%;
  margin: 10px auto;
  text-align: center;
}
